<div id="org-div-home-and-up">
 <a accesskey="h" href="/panshi/sitemap.html"> 索引 </a>
 |
 <a accesskey="H" href="/panshi"> 主页 </a>
 |
 <a accesskey="" href="/panshi/pics.html"> 图集 </a>
 |
 <a accesskey="" href="https://github.com/xingangshi" target="_blank"> GITHUB </a>
 |
 <a accesskey="" href="https://www.sxgic.com/diary/" target="_blank"> 随笔 </a>
 |
 <a accesskey="" href="https://www.geekpanshi.com/" target="_blank"> 旧博客 </a>
 |
 <a><input type="text" class="st-default-search-input" placeholder="站内搜索..."/></a>
</div>
<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

  _st('install','-7xxk_zZkMGeYu7EHZqk','2.0.0');
</script>

<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>

